@import '../variables';

.footer {
    background-color: $accent;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;

    p {
        margin: 0;
        margin-bottom: 10px;
    }
}
