@import "../variables";

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    background-color: $accent;
    margin-bottom: 20px;

    .logo {
        color: #ffffff;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin: 10px 15px;
    }

    .btn-menu {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        padding: 10px;
        cursor: pointer;
        fill: #ffffff;
        z-index: 5;
        transition: 200ms all ease-in-out;

        &.open {
            position: fixed;
            top: 15px;
            right: 15px;
        }
    }
}
