@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import './variables';

html,
body {
    padding: 0;
    margin: 0;
    font-family: Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;

    color: #292f33;
}

a {
    text-decoration: none;
    color: $accent;

    &:hover {
        color: lighten($accent, 20%);
    }
}

* {
    box-sizing: border-box;
}
