@import 'variables';

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    background-color: $accent;
    margin-bottom: 20px;

    .logo img {
        margin: 10px 15px;
        height: 75px;
    }
}
