@import "variables";

.container {
    margin: 0 auto 20px;
    height: 100%;

    p {
        text-align: center;
    }

    .locais {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;

        .cat-unit {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            margin: 5px 0;

            h2 {
                margin: 0 0 5px;
                width: 100%;
                max-width: 100%;
            }

            .local-unit {
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                background-color: $accent;

                margin: 1px;
                padding: 10px 30px;
                border-radius: 5px;
                color: #ffffff;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
                width: 100%;

                transition: 100ms all ease-in-out;

                &.auto {
                    max-width: 100%;
                }

                &:hover {
                    color: darken($accent, 10%);
                }

                @media (min-width: 760px) {
                    max-width: 33.014%;

                    &:nth-child(3n + 2) {
                        margin-left: 0;
                    }

                    &:nth-child(3n + 1) {
                        margin-right: 0;
                    }
                }

                @media (max-width: 759px) {
                    max-width: 49.682%;
                    min-height: 56px;

                    &:nth-child(2n + 2) {
                        margin-left: 0;
                    }

                    &:nth-child(2n + 1) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    @media (min-width: 760px) {
        max-width: 760px;
    }

    @media (min-width: 400px) and (max-width: 759px) {
        max-width: 400px;
    }

    @media (max-width: 399px) {
        max-width: 88%;
    }
}
